<form class="form-horizontal" ng-submit="product.saveProduct()">
    <!-- Product Image will be uploaded first without touching submit button with the use of Angular -->
    <div class="btn btn-info" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'" >Select Image Here</div>
</form>
</br></br></br>
<div class="row">
    Image will be added automatically after it has selected.</br>
    Then after that, click the button below to add product Info.
    <a ng-href="admin/products/{{ item._id }}" class="btn btn-primary">Add Product Info</a>
</div>

<div class="row show-hide-message" ng-show="product.message">
    <div class="alert alert-info">
    </br>
        {{ product.message }}
    </div>
</div>