<body>
<div class="jumbotron text-center"> <h1>Product Details</h1>
    <!-- product defiened in the products.controller -->
    <div class="row text-center" ng-show="product.productData">

        <div class="thumbnail">
            <img src="{{product.productData.imageUrl}}" alt="{{product.productData.title}}" >
            <div class="caption">
                <h5>Product Name :{{ product.productData.title }}</h5>
                <h5>Price :{{ product.productData.price }}</h5>
                <h5>Category :{{ product.productData.category }}</h5>
                <h5>Description :{{ product.productData.description }}</h5>
                <p>
                    <!-- Adding prodcut into cart -->
                    <ngcart-addtocart id="{{item._id}}" quantity="1" quantity-max="9" name="{{item.title}}" price="{{item.price}}" template-url="components/ngcart/addtocart.html" data="product">Add to Cart</ngcart-addtocart>
                </p>
            </div>
        </div>
   
    </div>
</div>
</body>


