<div class="jumbotron text-center"> <h1>Product Lists</h1>
    <!-- product defiened from the products.controller -->
    <div class="row text-center" ng-show="product.products">
    
    <!-- For looping the products -->
    <div class="col-md-3 col-sm-6 hero-feature" ng-repeat="item in product.products">
        <div class="thumbnail">
            <img src="{{item.imageUrl}}" alt="{{item.title}}" >
            <div class="caption">
                <h5>{{ item.title }}</h5>
                <p>
                    <a ng-href="/products/{{ item._id }}" class="btn btn-default">Check</a>
                </p>
            </div>
        </div>
   
    </div>
    </div>
</div>
