<div class="jumbotron text-center"> <h1>Product Lists</h1>

    <!-- product defiened from the products.controller -->
    <div class="row text-center" ng-show="product.products">
    
    <!-- For looping the products -->
    <div class="col-md-3 col-sm-6 hero-feature" ng-repeat="item in product.products">
        <div class="thumbnail">
            <img src="{{item.imageUrl}}" alt="{{item.title}}" >
            <div class="caption">
                <h5>{{ item.title }}</h5>
                <p>
                     <!-- Adding prodcut into cart -->
                    <a ng-href="/products/{{ item._id }}" class="btn btn-default">Check</a>
                    <ngcart-addtocart id="{{item._id}}" quantity="1" quantity-max="9" name="{{item.title}}" price="{{item.price}}" template-url="components/ngcart/addtocart.html" data="product">Add to Cart</ngcart-addtocart>
                </p>
            </div>
        </div>
   
    </div>
    </div>
</div>
