<body>
<div class="jumbotron text-center"> <h1>Product Details</h1>
    <!-- product defiened in the products.controller -->
    <div class="row text-center" ng-show="product.productData">

        <div class="thumbnail">
            <img src="{{product.productData.imageUrl}}" alt="{{product.productData.title}}" >
            <div class="caption">
                <h5>Product Name :{{ product.productData.title }}</h5>
                <h5>Price :{{ product.productData.price }}</h5>
                <h5>Category :{{ product.productData.category }}</h5>
                <h5>Description :{{ product.productData.description }}</h5>
                <p>
                    <a ng-href="#" class="btn btn-info">Add to Cart</a>
                </p>
            </div>
        </div>
   
    </div>
</div>
</body>


